## Title: Pan Asia gets more time to comply with capital requirements
## Supertitle: 
## Section: Finance
## Date: Thursday, February 2, 2017 - 01:00

Pan Asia gets more time to comply with capital requirements

 The Central Bank has extended the time period allocated to raise the interim capital requirement of Pan Asia Bank by three months. The bank said in a stock exchange filing that the Monetary Board of the Central Bank has extended the period to comply with the interim requirement from January 1,2017 to March 31, 2017 following a request made by the bank. As per the revised capital targets, by end March this year, the bank’s interim capital requirement should be raised to 7.5 billion rupees and by 01 January 2018, core capital requirement will be 10 billion rupees.Pan Asia Bank said capital requirement which should be fulfilled by 31 March 2017 is expected to be met with a rights issue of shares. Accordingly, the shareholders of the bank today approved a resolution to issue 147,520,543 new shares by way of a rights issue in the proportion of one share for every two shares held. (LBO)
