## Title: Police transfers made on operational requirements
## Supertitle: 
## Section: Local
## Date: Friday, June 2, 2017 - 12:00

Police transfers made on operational requirements

 
Police transfers were made today with the recommendation of the Inspector General of Police and the Police Commission with immediate effect on operational requirements.
The transfers are as follows:
Senior DIG Jagath Abeysirigunewardena – Assistant Senior DIG to North Central and Central Province Senior DIG
Senior DIG Y.R. W. Vijegunewardana - North Central and Central Province Senior DIG to Assistant Senior DIG
Senior DIG K.E.R.L. Fernando – Senior DIG Special Security Division to North Province Senior DIG
DIG P. Munesinghe – Sabaragamuwa Province DIG to Special Security Division DIG
DIG R.L. Kodithuwakku – Inspector General’s Staff Deputy to Sabaragamuwa Province DIG
DIG S.C. Madawaththa – Police Personnel Enrolling and Traffic Division DIG to Narcotic Division DIG
DIG P.P.S.M. Dharmaratne – Jaffna DIG to Police Personnel Enrolling and Training Division DIG
DIG W.K. Jayalath  - Galle District DIG to Matara and Tengalle District DIG
DIG Priyantha Jayakodi – Criminal Investigation and Crime Intelligence Division DIG to Deputy Inspector General’s Staff
DIG K.P.Fernando – Traffic Division DIG to Jaffna District DIG
DIG I.K.W. Silva - Narcotic Division DIG to Criminal Investigation and Traffic Division DIG
DIG A.H.M. W.C.K. Alahakoon – Matara and Tangalle District DIG to Galle District DIG
