## Title: Police DIG, ASP transfers made on operational requirements
## Supertitle: 
## Section: Local
## Date: Friday, June 30, 2017 - 11:30

Police DIG, ASP transfers made on operational requirements

 
Transfers of Deputy Inspector Generals and Assistant Superintendent of Police were made today with the recommendation of the Inspector General of Police and the Police Commission with immediate effect on operational requirements.
The transfers are as follows:
DIG R.L. Kodithuwakku – Sabaragamuwa Division DIG to Kalutara Division DIG
DIG G.K. Perera - Kalutara Division DIG to Sabaragamuwa Division DIG
ASP M.A.I.A.D.S.P. Irasinghe – Colombo Central Division to Kalutara division
ASP K.J.S. Karunasinghe – Ampara Division to Colombo Central Division
ASP H.K.S. Vijegunewardana – Panadura Division to Ampara Division
ASP W.M. Samarakoon Banda – Kurunegala Division to Nikeweratiya Division
ASP D.M.L. Pussella – Crimes Investigation Division to Kurunegala Division
ASP R.M.D.J. Ratnayake – Bandarawela Division to Moneragala Division
ASP C.W. Rajapaksa – Kandy Division to Bandarawela Division
ASP A.J.Y.B. Krishantha – Nugegoda Division to Kandy Division
ASP T.A.H. Nishshanka – Inspector General’s Command Centre to Kurunegala Division 
