## Title: SL to produce 90% of her drug requirements by end 2018
## Supertitle: 
## Section: Local
## Date: Tuesday, June 6, 2017 - 01:00

SL to produce 90% of her drug requirements by end 2018

Sri Lanka is expected to produce over 90 percent of its drug requirements by the end of 2018, Health Minister Dr.Rajitha Senaratne said.
According to Minister Dr. Senaratne, at present, 24 investors have joined with the Health Ministry for this purpose and it is expected to save Rs. 45 Billion which is spent annually on importing of drugs.The Minister was speaking at the opening of the new State Pharmaceuticals Corporation (SPC) outlet at Beruwala recently. Minister Dr. Senaratne pointed out that the SPC has achieved a 140 percent growth and this has been possible due to the work of its Chairman, Managing Director and the contribution of the trade unions.
“A total of Rs.5,000 million had been spent on developing state hospitals in the Kalutara districts in 2016 and 2017,” the Minister said.
 
