## Title: PM calls for easing of tourist visa requirements
## Supertitle: 
## Section: Local
## Date: Saturday, July 21, 2018 - 01:07

PM calls for easing of tourist visa requirements

Prime Minister Ranil Wickremesinghe said that easing visa requirements for tourists is an important step in boosting Sri Lanka’s rapidly developing tourism industry.
Speaking at the Hotel Show Colombo 2018 at the BMICH yesterday, Prime Minister Wickremesinghe said that the basic requirements of entry into the country must be streamlined. This should include the process of entry and reception at the airport.
“We are looking at how we can ease the whole air trafficking system, including the visa service,” the Prime Minister said.
Premier Wickremesinghe stressed the importance of increasing the number of tourists visiting the country, thereby bringing in more revenue to the country and improving the people’s income.
“For us, in the short term, (tourism)is one of the job creators,” the Prime Minister said.
“It means a future for Sri Lankan employment. It means a future for Sri Lankan youth,” the Prime Minister said.
The Prime Minister noted that the government has taken measures to develop tourism: its joint ventures with Indian aviation, “dealing with Sri Lankan airlines,” undertaking a project to develop a highway from Colombo to Humbantota.
The Prime Minister who was addressing company and hotel owners attending the Hotel Show, said that more efforts need to be made towards marketing and promotion.
“A hotel is not merely a question of bricks and cement,” the Prime Minister said and in order to compete with the world’s largest tourist destinations, the industry will need to expand and improve their offerings. “If you go to Kandy, Thumbulla, Anuradhapura, what do you do at night? Nothing. No cultural activities,” the Premier said.
The Prime Minister expressed his desire for Sri Lanka to meet tourism development goals by the 2022 Football World Cup to be held in Qatar. 
