## Title: 903 foreign nationals nabbed  for violating visa requirements
## Section: Breaking News
## Date: 22 May 2015 02:35 pm

903 foreign nationals nabbed  for violating visa requirements


	

As many as 903 foreign nationals were arrested last year in connection with their engagement in religious propaganda activities, employment and business after arrival in the country on tourist  visa, Parliament was informed today.
Public Order and Christian Religious Affairs Minister, John Amaratunga gave these details to the House in response to a question by UNP MP Buddika Patirane.
These persons were from  countries such as Pakistan, India, Bangladesh, Afghanistan, China, the United States of America, Britain, Canada , France, Germany, Egypt, France, Norway, Netherlands, Philippines,  and Saudi Arabia.
The Minister informed the House that action had been taken to amend the Immigration and Emigration Law No 20 of 1948 to deal with this phenomenon effectively in the country in future. 

		