## Title: LIC Lanka relaxes death claim requirements  for flood victims
## Section: Financial News
## Date: 26 May 2016 12:00 am

LIC Lanka relaxes death claim requirements  for flood victims


	

During the recent floods and landslides due to inclement and adverse weather conditions in the island, many lives are lost along with a large scale of 
property damage.


In order to mitigate the hardships faced by the claimants in respect of settlement of death claims arising out of the recent landslide and floods, LIC Lanka has relaxed many of its procedural requirements for the claimants of those life insurance policies issued by the Company, where the death has taken place due to the recent Floods and or Landslides. 


Harvinder Singh, GM (Marketing & Operations) of LIC  Lanka informed that if the death has occurred due to the recent adverse weather condition, it will be treated as non-early claim, irrespective of the duration of the policy. A simplified death claim form has been prepared by the company. LIC LANKA will accept death certificates issued by Grama Niladhari countersigned by the Divisional Secretary as a certificate of death or a certificate from a CEO or GM club members agents duly certified by the  concerned Branch  Manager & Sales Manager stating that he/she was personally aware of the death of the policy holder which will  also  be  accepted by  
the  company.


Mr. Singh has  also informed that If the policy bond is lost during the recent floods/landslides, it will not be insisted if the Sum Assured under the policy is less than Rs.500000. And age proof will also not be insisted if not submitted earlier.


LIC has issued an internal circular to all its offices to effect these relaxations in the company.
The company has initiated these measures so that genuine claimants of LIC (Lanka) Ltd. are immediately paid the claims, which is the basic purpose of Life Insurance. Claimants can contact the nearest branch office of LIC (Lanka) Ltd.


LIC Lanka is a joint venture between Life Insurance Corporation of India, the biggest Life Insurance Company in the world with more than 300 Million Policyholders and Bartleet Group which is a century old giant financial service providers in Sri Lanka. LIC Lanka Ltd. has 28 branches spread across 
the island.
 

		