## Title: NDB to raise equity capital to support growth, meet BASEL III requirements
## Section: Financial News
## Date: 8 March 2017 10:14 am

NDB to raise equity capital to support growth, meet BASEL III requirements


	

NDB Bank PLC, the country’s top project financier turned fully-fledged commercial bank, says it will raise capital this year to support future growth and BASEL III capital adequacy requirements. 
“While our capital in 2016 was adequate to meet both our requirements and that of the regulator, our planned expansion and the new Basel III rules will necessitate a fresh infusion of capital in 2017,” DFCC Bank Chairman A.W. Atukorala told shareholders in the bank’s latest annual report. As at December 31, 2016, NDB’s Tier I and Tier II capital adequacy ratios stood at 9.31 percent and 12.95 percent, respectively, well above the minimum 
regulatory requirements. 
NDB raised Rs.10 billion in June 2015 through a 
listed debenture. 
The country’s largest lender, Commercial Bank PLC this week announced its plans to raise equity capital to the tune of Rs.10.1 billion through a rights issue to support future lending activities and meet the BASEL III capital adequacy requirements without slowing down the bank’s business expansion. Meanwhile, Atukorala said while focusing on its core capabilities in project financing, the banking group would aggressively expand its SME and microfinancing operations. 
“While we continue to derive returns from our traditional areas such as project financing, we are also aggressively expanding our reach in areas such as SME and microfinancing. 
Through our micro financing programmes we are channelling the skills and knowledge we possess to empower the needy strata of our society and help narrow social and 
economic disparities.”

 
 

		