## Title: Purchase of new fighter aircraft: SLAF still to finalize fleet requirements
## Section: Breaking News
## Date: 5 January 2017 08:15 am

Purchase of new fighter aircraft: SLAF still to finalize fleet requirements


	

The Sri Lanka Air Force (SLAF) is still in the process of finalizing its fleet requirements to purchase new multi-role combat aircraft to replace MiG and Kfir fleet.

Earlier, the government had announced that it intends to purchase eight to 12 new multi-role combat aircraft for the SLAF.

President Maithripala Sirisena and the Cabinet have officially granted the Ministry of Defence permission to solicit offers from foreign aircraft manufacturers for the procurement of new aircraft and associated weapon systems on a government-to-government basis.

SLAF Spokesman Group Captain Gihan Seneviratne said once the fleet requirements were finalized, they would call for bids from countries to purchase aircraft most likely within this year.

“Contemporary aircraft which would be suitable for the coming years would be purchased,” he said.

The SLAF presently has a fleet of Israeli Kfirs and Russian-made MiG-27s and India is also eager to add its own make to the arsenals. Seven Chengdu F-7 (license-built MIG-21), nine Harbin Y-12 turboprop military transport, plus one Chengdu F-7 and five Hongdu JL-8 jet trainers operates at the air force.

Earlier, Cabinet Spokesman and Parliamentary Reforms and Media Minister Gayantha Karunathilaka said that only one Kfir aircraft is operational and six others cannot be used.

He said SLAF have seven MiGs and eight others but none of them can be used.

It was reported that SLAF is looking at JF-17 Thunder at least four million dollars per jet as a replacement for its Kfirs and MiG-27s.

The SLAF’s fighter fleet currently consists of one single Israel Aerospace Industries (IAI) Kfir multi-role combat aircraft. While the Kfir uses the same airframe as the French-made Dassault Mirage 5, it is equipped with Israeli avionics and an Israeli-built variant of the General Electric J79 turbojet engine. From 1995 to 2005, Sri Lanka acquired a total of 16 Kfir fighter jets from Israel. At least seven aircraft were lost due to accidents or ground attacks on airbases during the Civil War. (Darshana Sanjeewa)
 

		